/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */

.basic-info {
    text-align: center;
}

.basic-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.basic-info img {
    width: 300px; height: auto;
}

.summary {
    text-align: center;
}

.summary h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

.summary p {
    font-size: 14pt;
    margin-bottom: 5%;
}

.call-to-action {
    text-align: center;
}




