/* reset */
* {
    margin: 0; padding: 0; box-sizing: border-box;
}

.portfolio {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.portfolio h1, a {
    padding-top: 20px;
    font-size: 22pt;
    color: #fff;
}

.portfolio p {
    font-size: 16pt;
}